<div class="container">
  <div class="login-container">
    <div class="logo-container">
      <img
        src="/images/College_of_Engineering.png"
        alt="College Of Engineering"
        class="logo"
      />
      <img
        src="/images/Western_Mindanao_State_University.png"
        alt="Western Mindanao State University"
        class="logo"
      />
      <img
        src="/images/Computer_Engineering.png"
        alt="BS Computer Engineering"
        class="logo"
      />
    </div>

    <form action="/" method="POST" class="login-form">
      <header>
        <h1>Western Mindanao State University</h1>
        <h2>Online Advising</h2>
      </header>
      <div class="input-group">
        <input type="text" name="username" id="username" required />
        <label for="username">Username</label>
      </div>
      <div class="input-group">
        <input type="password" name="password" id="password" required />
        <label for="password">Password</label>
      </div>
      <button type="submit" class="login-button">Login</button>
    </form>
  </div>
</div>